@page "/quiz"
@page "/quiz/{quizId}"
@inject IQuizService quizService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Resource> localizer

<PageTitle>@localizer["Res_Quiz"]</PageTitle>

<div class="quiz-page__wrapper">

    @if (quiz is not null)
    {
        <div class="quiz-page__progress">

            <QuizProgress Value="@(index+1)" MaxValue="@cards.Count" />

        </div>

        <div class="@cssQuestion">
            @card.Question
        </div>

        <QuizCard Answer="@card.Answer" AnswerOriginal="@(!card.QuestionOriginal)" @bind-AnswerVisible="answerVisble" />

        @if (answerVisble)
        {
            <ButtonResult OnClick="HandleBadClick" />
            <ButtonResult Good="true" OnClick="HandleGoodClick" />
        }
    }

</div>

<button class="quiz-page__close-button" @onclick="HandleCloseClick">
    <SvgIcon SvgUrl="/assets/close-ico.svg" />
</button>

@if (closeDialogVisible)
{
    <ConfirmDialog OnConfirm="HandleCloseConfirm" OnCancel="HandleCloseCancel"
               Message="@localizer["Res_EndThisQuiz"]" Cancel="@localizer["Res_No"]" Confirm="@localizer["Res_Yes"]" />
}

@code {
    [CascadingParameter] LoaderHelper loaderHelper { get; set; } = default!;
    [Parameter] public string? QuizId { get; set; }

    QuizViewModel? quiz;

    List<QuizItemViewModel> cards => quiz?.Items ?? new();

    int index = 0;
    QuizItemViewModel? card => cards.Count > index ? cards[index] : null;

    bool answerVisble;
    bool closeDialogVisible;

    string cssQuestion => card?.QuestionOriginal == true
        ? "quiz-page__question quiz-page__question--original"
        : "quiz-page__question";

    protected override async Task OnInitializedAsync()
    {
        loaderHelper.ShowLoader(true);

        if (QuizId is null)
        {
            quiz = await quizService.PrepareQuizAsync();
        }
        else
        {
            quiz = await quizService.GetQuizAsync(QuizId);
            index = quiz?.Items.Where(r => r.Result is not null).Count() ?? 0;
        }

        loaderHelper.HideLoader();
    }

    void HandleCloseClick()
    {
        if (quiz is not null)
            closeDialogVisible = true;
        else
            HandleCloseConfirm();
    }

    void HandleCloseCancel() => closeDialogVisible = false;

    void HandleCloseConfirm() => NavigationManager.NavigateTo($"/");

    void HandleAnswerClick() => answerVisble = true;

    async Task HandleGoodClick()
    {
        card.Result = true;
        await ShowNext();
    }

    async Task HandleBadClick()
    {
        card.Result = false;
        await ShowNext();
    }

    async Task ShowNext()
    {
        await quizService.SubmitResultAsync(quiz.Id, card);
        if (index < cards.Count - 1)
        {
            answerVisble = false;
            index++;
        }
        else
        {
            NavigationManager.NavigateTo($"/result/{quiz.Id}");
        }
    }
}
