
<div class="result-item__wrapper">

    <div class="@cssIcon">
        <SvgIcon SvgUrl="@imgIcon" />
    </div>

    <div class="@cssText">
        <span>@Card.Question</span>
        <span> → </span>
        <span>@Card.Answer</span>
    </div>

</div>

@code {
    [Parameter] public QuizItemViewModel Card { get; set; }

    string imgIcon => Card.Result == false
        ? "/assets/bad-ico.svg"
        : "/assets/good-ico.svg";

    string cssIcon => Card.Result == false
        ? "result-item__icon result-item__icon--bad"
        : "result-item__icon";

    string cssText => Card.Result == true
        ? "result-item__text"
        : "result-item__text result-item__text--bad";
}
